


<section id="addInputIntroduce">
    <div style="margin-top: 15%;margin-bottom: 16%; font-size: 3rem;" id="page-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_right_img">
                        <img class="border_circle" src="http://localhost:3000/userImages/<%= user._id%>/<%=portInformation[0].addInputIntroduce.userImage%>" alt="" style="width: 350px;height: 350px;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style="margin-top: 10%;">
                        <div style="margin-left: 10%;">



    
                            <h3> <%=portInformation[0].addInputIntroduce.hello%>
                            </h3>
                            <h1> I am <%=portInformation[0].addInputIntroduce.introduceName%></h1>
                            <h5><%=portInformation[0].addInputIntroduce.institution%>
                            </h5>
                            <div>
                                <a href="https://drive.google.com/file/d/1RQCVqlpcbm3djx50ckuBNYblK850XTRw/view?usp=sharing"
                                    class="btn btn-primary btn-lg" style="text-align: center; margin-top: 1%;"
                                    role="button">CV
                                </a>
                                <a href="https://drive.google.com/file/d/15GuboYQVfzMgD1dBb9vXuTnZKFVIc-sb/view?usp=sharing"
                                    class="btn btn-dark btn-lg" style="text-align: center; margin-top: 1%;"
                                    role="button">TRANSCRIPT
                                </a>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
